.main {
  display: flex;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
  width: 100%;
  justify-content: space-between;
}

.searchCommand {
  display: flex;
  padding: 1rem;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
  border: 1px solid var(--gray-04);
  background: var(--gray-06);
  width: 100%;
}

.inputSearch {
  width: 100%;
}

.inputSearch:focus {
  outline: none;
}

.buttonAddArchive {
  background: var(--gray-06);
  border: none;
  cursor: pointer;
}

.inputSearch {
  background: var(--gray-06);
  border: none;
  color: var(--gray-02);
  font-family: IBM Plex Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.imageSubmitSearch {
  display: flex;
  padding: 1rem;
  align-items: flex-start;
  gap: 0.5rem;
  border-radius: 1rem;
  border: 1px solid var(--gray-04);
  background: var(--gray-06);

  cursor: pointer;
}
